<!DOCTYPE html>
{% autoescape true %}
  <body>
      <font size = "5">
      <b>{{ quest.title }}</b></a></font>
      <div style="width: 500px; word-wrap: break-word;"><font size = "3"><br>{{ quest.content }}</font>
      </div>
      <br>Tags:
      {% for tag in quest.tags %}
        {% if tag != '' %}
        #<a href = "/taglist?tag={{ tag }}">{{ tag }}</a>
        {% endif %}
      {% endfor %}
      <br><font size="1">Created: {{ quest.creationtime }}  
      <br>Last Modified: {{ quest.modifiedtime }} </font>
      <br>
  </body>
</html>
{% endautoescape %}