<!DOCTYPE html>
{% autoescape true %}
  <body>
      <font size = "5">
      <b>{{ quest.title }}</b></a></font> asked by {{ quest.author.nickname() }}
      {% if quest.authorID == current_userID %}
      <a href = "/editq?qid={{ quest.key.id() }}">Edit</a>
	  {% endif %}
      <div style="width: 500px; word-wrap: break-word;"><font size = "3"><br>{{ quest.content[0:500]|safe }}</font>
      </div>
      <br><a href = "/permalink?qid={{ quest.key.id() }}">permalink</a>
      <br>Tags:
      {% for tag in quest.tags %}
        {% if tag != '' %}
        #<a href = "/taglist?tag={{ tag }}">{{ tag }}</a>
        {% endif %}
      {% endfor %}
      <br><font size="1">Created: {{ quest.creationtime }}  
      <br>Last Modified: {{ quest.modifiedtime }} </font>
      <br><a href = "/rss?qid={{ quest.key.id() }}"> RSS Link </a>
      <br>
      <br>Current Vote Rating: {{ qvoteCount }}
	  {% if user_logged_on %}
        <form action = "/view" method = "post">
          <input type="submit" value="Vote Up" name="qupvote">
          <input type="submit" value="Vote Down" name="qdownvote">
          <input type="hidden" value="{{ quest.key.id() }}" name="qid">
        </form>
	    <div align = 'left'> <h2> <a href = "/answer?qid={{ quest.key.id() }}"> Answer the question </a> </h2> </div>
	  {% endif %}
      <hr style='border: 1px solid #000;' />
      {% for answer in answers %}
        <font size = "5">
        <b>{{ answer.title }}</b></a></font> answered by {{ answer.author.nickname() }}
        {% if answer.authorID == current_userID %}
        <a href = "/edita?aid={{ answer.key.id() }}&qid={{ quest.key.id() }}">Edit</a>
	    {% endif %}
        <div style="width: 500px; word-wrap: break-word;"><font size = "3"><br>{{ answer.content|safe }}</font>
        </div>
        <br><font size="1">Created: {{ answer.creationtime }}  
        <br>Last Modified: {{ answer.modifiedtime }} </font>
        <br>
        <br>Current Vote Rating: {{ answer.voteCount }}
	    {% if user_logged_on %}
          <form action = "/view" method = "post">
            <input type="submit" value="Vote Up" name="aupvote">
            <input type="submit" value="Vote Down" name="adownvote">
            <input type="hidden" value="{{ quest.key.id() }}" name="qid">
            <input type="hidden" value="{{ answer.key.id() }}" name="aid">
          </form>
	    {% endif %}
        <hr style='border: 1px dashed black;' />
      {% endfor %}
  </body>
</html>
{% endautoescape %}